
<div class="row col-mb-50 mb-0">
    <div class="col-12" style="text-align:center">
        <a asp-action="XuatlinePD2" class="button button-xlarge button-circle button-3d button-green "><i class="icon-line-outbox"></i>Xuất line xưởng 2</a>
    </div>
</div>
