@section Scripts{
    <script>
        $('#modalNG').on('hidden.bs.modal', function () {
            $('#theinput').focus();
        });
    </script>
    <script>
        $(document).ready(function () {
            var step = 1;
            var ten_model = '';
            var ten_cell = '';
            var ten_station = '';
            var ten_phanloai = '';
            var ma_nguoithaotac = '';
            var ma_vattuthuve = '';
            var solancanbip = 0;
            var solanbipThuve = 0;
            var solanbipXuatra = 0;
            var soluongxuatline = 0;
            var ten_donvi = '';
            var so_tontu = '';
            var so_lotno = '';
            //$('#solanbipThuve').val(solanbipThuve);
            //$('#solanbipXuatra').val(solanbipXuatra);
            $("#theinput").attr("placeholder", "Quét mã người thao tác...");
            $("#theinput").keydown(function (e) {
                if (e.keyCode === 13) {
                    var inputValue = $(this).val().toLowerCase(); //lấy giá trị của Input
                    console.log("- - - - - - - - - - - - - - -");
                    console.log("Dữ liệu nhập vào : " + inputValue);
                    if (step == 1) {
                        $.ajax({
                            url: "/Home/CheckingOP",
                            type: "GET",
                            data: "opId=" + inputValue,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            timeout: 10000,
                            success: function (result) { //TÌM THẤY THÔNG TIN NV
                                $('#ok1').attr('data-notify-msg', '<i class="icon-ok"/> Xin chào, ' + result + '!');
                                $('#ok1').trigger('click');
                                console.log("Thông tin người dùng: ", result);
                                $('#tenOP').val(result.toUpperCase());
                                $('#icontenOP').removeClass("icon-info-circle");
                                $('#icontenOP').addClass("icon-ok-sign");
                                $('#icontenOP').css({
                                    color: "green"
                                });
                                $("#theinput").val('');
                                step = 2;
                                console.log("Done step 1 -> step " + step);
                                $("#theinput").attr("placeholder", "Quét mã vị trí...");
                                $('#nutstep').text('Step2');
                                ma_nguoithaotac = inputValue;
                            },
                            error: function (xhr, t, error,) { //KHÔNG TÌM THẤY THÔNG TIN NV
                                if (t === "timeout") {
                                    alert("Không kết nối được tới máy chủ, kiểm tra lại kết nối và thử lại!");
                                    step = 1;
                                    $("#theinput").val('');
                                }
                                else {
                                    step = 1;
                                    console.log("Không có mã NV " + inputValue + " trong database")
                                    $("#theinput").val('');
                                    $('#noidungmodal').html('<b>Không tìm thấy mã nhân viên</b> <br/> ' + '"' + inputValue + '"');
                                    $('.btn-danger').trigger('click');
                                }
                            }
                        });
                    }
                    if (step == 2) {
                        $.ajax({
                            url: "/Home/CheckingVitri",
                            type: "GET",
                            data: "vitri=" + inputValue,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            timeout: 10000,
                            success: function (result) { //TÌM THẤY THÔNG TIN VỊ TRÍ
                                $('#ok2').trigger('click');
                                console.log("Thông tin vị trí :", result);
                                ten_model = result[0].model;
                                ten_cell = result[0].cell;
                                ten_station = result[0].station;
                                ten_phanloai = result[0].phanLoai;
                                solancanbip = result[0].solanbipjig;
                                console.log("Số lần cần quét:" + solancanbip);
                                $("#solanbip").text("Số lượng ống: " + solancanbip + " pcs");
                                $('#tenVitri').val(ten_model + " - " + ten_cell + " - " + ten_station);
                                $('#iconTenvitri').removeClass("icon-info-circle");
                                $('#iconTenvitri').addClass("icon-ok-sign");
                                $('#iconTenvitri').css({
                                    color: "green"
                                });
                                $("#theinput").val('');
                                step = 3;
                                console.log("Done step 2 -> step " + step);
                                $("#theinput").attr("placeholder", "Quét mã vật tư thu về...");
                                $('#nutstep').text('Step3');
                            },
                            error: function (xhr, t, error) { //KHÔNG TÌM THẤY THÔNG TIN VỊ TRÍ
                                if (t === "timeout") {
                                    alert("Không kết nối được tới máy chủ, kiểm tra lại kết nối và thử lại!");
                                    step = 2;
                                    $("#theinput").val('');
                                }
                                else {
                                    step = 2;
                                    console.log("Không tìm thấy thông tin vị trí " + inputValue + " trong database");
                                    $("#theinput").val('');
                                    $('#noidungmodal').html('<b>Không tìm thấy thông tin vị trí</b> <br/> ' + '"' + inputValue + '"');
                                    $('.btn-danger').trigger('click');
                                }
                            }
                        });
                    }
                    if (step == 3) {
                        $.ajax({ //TÌM THÔNG TIN MÃ VẬT TƯ THU VỀ
                            url: "/Home/CheckingVattuthuve",
                            type: "GET",
                            data: "vattuthuve=" + inputValue,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            timeout: 10000,
                            success: function (data) { //TÌM THẤY THÔNG TIN MÃ VẬT TƯ
                                console.log("Thông tin mã vật tư thu về: ", data);
                                var tenvattuthuve = data.dulieu.ten;    //console.log("Model là: " + ten_model) //console.log("Cell là: " + ten_cell)//console.log("Station là: " + ten_station)
                                var khoiluongxuat = data.dulieu.khoiluongnhapline;
                                soluongxuatline = khoiluongxuat;
                                var donvi = data.dulieu2.donvi;
                                ten_donvi = donvi;
                                var tonkhoton = data.dulieu2.tonKhoTong;
                                var tontu = data.dulieu2.soLuongTonTu;
                                so_tontu = tontu;
                                var lotno = data.dulieu3.lotno;
                                so_lotno = lotno;
                                console.log("lotno là" + lotno)
                                $.ajax({  //CẬP NHẬT TRẠNG THÁI OK CHO LAYOUT
                                    url: "/Home/updateStatus",
                                    type: "POST",
                                    timeout: 10000,
                                    data: {
                                        status: "OK",
                                        thoigianbaoloi: "",
                                        model: ten_model,
                                        cell: ten_cell,
                                        station: ten_station,
                                        phanloai: tenvattuthuve
                                    },
                                    success: function (result) { //ĐÚNG VẬT TƯ THU VỀ
                                        step = 4;
                                        console.log("Đã cập nhật trạng thái bảng Layout tại vị trí thành OK :", result)
                                        console.log("Done step 3 -> step " + step);
                                        $("#theinput").attr("placeholder", "Quét mã vật tư xuất ra...");
                                        $('#nutstep').text('Step4');
                                        $("#theinput").val('');
                                        $('#tenVattuthuve').val(tenvattuthuve);
                                        $('#tenSoluongxuat').val(khoiluongxuat);
                                        $('#tenDonvi').val(donvi);
                                        $('#tenTonkhotong').val(tonkhoton);
                                        $('#tenTontu').val(tontu);
                                        $('#tenLotNo').val(lotno);
                                        $('#iconSoluongxuat').removeClass("icon-info-circle");
                                        $('#iconSoluongxuat').addClass("icon-ok-sign");
                                        $('#iconSoluongxuat').css({
                                            color: "green"
                                        });
                                        $('#iconDonvi').removeClass("icon-info-circle");
                                        $('#iconDonvi').addClass("icon-ok-sign");
                                        $('#iconDonvi').css({
                                            color: "green"
                                        });
                                        $('#iconTonkhotong').removeClass("icon-info-circle");
                                        $('#iconTonkhotong').addClass("icon-ok-sign");
                                        $('#iconTonkhotong').css({
                                            color: "green"
                                        });
                                        $('#iconTontu').removeClass("icon-info-circle");
                                        $('#iconTontu').addClass("icon-ok-sign");
                                        $('#iconTontu').css({
                                            color: "green"
                                        });
                                        $('#iconLotNo').removeClass("icon-info-circle");
                                        $('#iconLotNo').addClass("icon-ok-sign");
                                        $('#iconLotNo').css({
                                            color: "green"
                                        });
                                        $("#theinput").val('');
                                        ma_vattuthuve = inputValue;
                                        solanbipThuve++;
                                        $('#solanbipThuve').val(solanbipThuve);
                                        if (solanbipThuve < solancanbip) {
                                            $('#iconTenvattuthuve').css({
                                                color: "orange"
                                            });
                                            $('#solanbipThuve').css({
                                                background: "#FFC107"
                                            });
                                        }
                                        if (solanbipThuve == solancanbip) {
                                            $('#iconTenvattuthuve').removeClass("icon-info-circle");
                                            $('#iconTenvattuthuve').addClass("icon-ok-sign");
                                            $('#iconTenvattuthuve').css({
                                                color: "green"
                                            });
                                            $('#solanbipThuve').css({
                                                background: "#198754",
                                                color: "white"
                                            });
                                        }
                                    },
                                    error: function (xhr, t, error) { //SAI VẬT TƯ THU VỀ
                                        if (t === "timeout") {
                                            alert("Không kết nối được tới máy chủ, kiểm tra lại kết nối và thử lại!");
                                            step = 3;
                                            $("#theinput").val('');
                                        }
                                        else {
                                            $.ajax({
                                                url: "/Home/updateStatus", //CẬP NHẬT TRẠNG THÁI NG CHO LAYOUT
                                                type: "POST",
                                                timeout: 10000,
                                                data: {
                                                    status: "OK",  //SAI MO
                                                    thoigianbaoloi: '@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")',
                                                    model: ten_model,
                                                    cell: ten_cell,
                                                    station: ten_station,
                                                    phanloai: ten_phanloai
                                                },
                                                success: function (result) {
                                                    console.log("Completed update status SAI MO for dbo.layout", result);
                                                    step = 3;
                                                },
                                                error: function (xhr, t, error) {
                                                    if (t === "timeout") {
                                                        alert("Không kết nối được tới máy chủ, kiểm tra lại kết nối và thử lại!");
                                                        step = 3;
                                                        $("#theinput").val('');
                                                    }
                                                    else {
                                                        console.log("Can not update status SAI MO for dbo.layout", error);
                                                        step = 3;
                                                    }
                                                }
                                            });
                                            $.ajax({
                                                url: "/Home/Luulichsu_Xuatline",
                                                type: "POST",
                                                timeout: 10000,
                                                data: {
                                                    tenvattuthuve: inputValue,
                                                    tenvattuphatra: "",
                                                    soluongxuatline: "0",
                                                    ngayxuat: "@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")",
                                                    nguoixuat: ma_nguoithaotac,
                                                    donvi: "",
                                                    tontu: "0",
                                                    vitri: ten_model + "," + ten_cell + "," + ten_station,
                                                    result: "NG",
                                                    lotno: "",
                                                    ghichu: ""
                                                },
                                                success: function (result) {
                                                    console.log("Completed update log-NG for bdo.lichsuxuatline", result);
                                                    step = 3;
                                                },
                                                error: function (xhr, t, error) {
                                                    if (t === "timeout") {
                                                        alert("Không kết nối được tới máy chủ, kiểm tra lại kết nối và thử lại!");
                                                        step = 3;
                                                        $("#theinput").val('');
                                                    }
                                                    else {
                                                        console.log("Cant update log-NG for bdo.lichsuxuatline", error);
                                                        step = 3;
                                                    }
                                                }
                                            });
                                            console.log("Sai mã vật tư thu về - Mã vật tư thu về và tại bảng layout không trùng!")
                                            $('#noidungmodal').html("<b>Sai vật tư thu về! Đã cập nhật trạng thái NG và lưu log-NG này vào database!<b> <br/>" + inputValue);
                                            $('.btn-danger').trigger('click');
                                            $("#theinput").val('');
                                            step = 3;
                                        }
                                    }
                                });
                            },
                            error: function (xhr, t, error) { //SAI ĐỊNH DẠNG MÃ VẬT TƯ
                                if (t === "timeout") {
                                    alert("Không kết nối được tới máy chủ, kiểm tra lại kết nối và thử lại!");
                                    step = 3;
                                    $("#theinput").val('');
                                }
                                else {
                                    $.ajax({
                                        url: "/Home/updateStatus", //CẬP NHẬT TRẠNG THÁI NG CHO LAYOUT
                                        type: "POST",
                                        timeout: 10000,
                                        data: {
                                            status: "OK",  //SAI MO
                                            thoigianbaoloi: '@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")',
                                            model: ten_model,
                                            cell: ten_cell,
                                            station: ten_station,
                                            phanloai: ten_phanloai
                                        },
                                        success: function (result) {
                                            console.log("Completed update status SAI MO for dbo.layout", result);
                                            step = 3;
                                        },
                                        error: function (xhr, t, error) {
                                            if (t === "timeout") {
                                                alert("Không kết nối được tới máy chủ, kiểm tra lại kết nối và thử lại!");
                                                step = 3;
                                                $("#theinput").val('');
                                            }
                                            else {
                                                console.log("Can not update status SAI MO for dbo.layout", error);
                                                step = 3;
                                            }
                                        }
                                    });
                                    $.ajax({
                                        url: "/Home/Luulichsu_Xuatline",
                                        type: "POST",
                                        timeout: 10000,
                                        data: {
                                            tenvattuthuve: inputValue,
                                            tenvattuphatra: "",
                                            soluongxuatline: "0",
                                            ngayxuat: "@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")",
                                            nguoixuat: ma_nguoithaotac,
                                            donvi: "",
                                            tontu: "0",
                                            vitri: ten_model + "," + ten_cell + "," + ten_station,
                                            result: "NG",
                                            lotno: "",
                                            ghichu: ""
                                        },
                                        success: function (result) {
                                            console.log("Completed update log-NG for bdo.lichsuxuatline", result);
                                            step = 3;
                                        },
                                        error: function (xhr, t, error) {
                                            if (t === "timeout") {
                                                alert("Không kết nối được tới máy chủ, kiểm tra lại kết nối và thử lại!");
                                                step = 3;
                                                $("#theinput").val('');
                                            }
                                            else {
                                                console.log("Cant update log-NG for bdo.lichsuxuatline", error);
                                                step = 3;
                                            }
                                        }
                                    });
                                    console.log("Sai mã vật tư thu về - Mã vật tư thu về và tại bảng layout không trùng!")
                                    $('#noidungmodal').html("<b>Sai vật tư thu về! Đã cập nhật trạng thái NG và lưu log-NG này vào database!<b> <br/>" + inputValue);
                                    $('.btn-danger').trigger('click');
                                    $("#theinput").val('');
                                    step = 3;
                                }
                            }
                        });
                    }
                    if (step == 4) {
                        $.ajax({
                            url: "/Home/CheckingVattuphatra",
                            type: "POST",
                            data: {
                                mavattuphatra: inputValue,
                                status: "OK", //SAI MO
                                model: ten_model,
                                cell: ten_cell,
                                station: ten_station,
                                phanloai: ten_phanloai,
                                nguoixuat: ma_nguoithaotac,
                                vitri: ten_model + "," + ten_cell + "," + ten_station,
                                soluongxuatline: soluongxuatline,
                                donvi: ten_donvi,
                                tontu: so_tontu,
                                lotno: so_lotno
                            },
                            success: function (ketqua) {
                                console.log(ketqua);
                                if (ketqua.mode == "NG") {
                                    console.log("Sai mã vật tư phát ra - Mã vật tư thu về và phát ra không trùng!")
                                    $('#noidungmodal').html("Sai vật tư phát ra! Đã cập nhật trạng thái NG và lưu log-NG này vào database!");
                                    $('.btn-danger').trigger('click');
                                    $("#theinput").val('');
                                    step = 4;
                                }
                                if (ketqua.mode == "OK") {
                                    console.log("Mã vật tư phát ra trùng Mã vật tư thu về!")
                                    console.log("Thông tin mã vật tư phát ra: ", ketqua.dulieu);
                                    console.log("Thông tin dữ liệu lưu OK: ", ketqua.dulieuluuOK);
                                    var tenvattuphatra = ketqua.dulieu.ten;
                                    $("#theinput").val('');
                                    $('#tenVattuxuatra').val(tenvattuphatra);
                                    solanbipXuatra++;
                                    $('#solanbipXuatra').val(solanbipXuatra);
                                    if (solanbipXuatra < solancanbip) {
                                        $('#iconTenvattuxuatra').css({
                                            color: "orange"
                                        });
                                        $('#solanbipXuatra').css({
                                            background: "#FFC107"
                                        });
                                        $("#theinput").attr("placeholder", "Quét mã vật tư thu về...");
                                        $('#nutstep').text('Step3');
                                        step = 3;
                                    }
                                    if (solanbipXuatra == solancanbip) {
                                        $('#iconTenvattuxuatra').removeClass("icon-info-circle");
                                        $('#iconTenvattuxuatra').addClass("icon-ok-sign");
                                        $('#iconTenvattuxuatra').css({
                                            color: "green"
                                        });
                                        $('#solanbipXuatra').css({
                                            background: "#198754",
                                            color: "white"
                                        });
                                        $('#solanbip').removeClass("bg-warning text-dark");
                                        $('#solanbip').addClass("bg-success");
                                        step = 5;
                                        console.log("Done step 4 -> step " + step);
                                        $('#divinput').hide();
                                        $("#btnhoanthanh").prop("disabled", false);

                                    }
                                }
                            },
                            error: function (xhr, status, error) {
                                console.log("Lỗi không xác định!")
                                console.log("Sai định dạng mã vật tư!")
                                $('#noidungmodal').html('<b>Mã vật tư bạn vừa quét không đúng định dạng</b> <br/> ' + '"' + inputValue + '"');
                                $('.btn-danger').trigger('click');
                                $("#theinput").val('');
                                step = 4;
                            }
                        });
                    }
                }
            });
        });
    </script>
}
    <style>
        .content-wrap {
            padding: 20px 0;
        }
    </style>
    <div class="row">
        <div id="divinput" class="col-12">
            <div class="card gradient-grey-orange">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <button id="nutstep" class="btn btn-warning" disabled>Step1</button>
                        </div>
                        <div class="col-10">
                            <input id="theinput" type="text" class="form-control shadow" autofocus autocomplete="on">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="margin-block:10px">
            <div class="card">
                <div class="card-header">
                    <i style="color:indigo" class="icon-clipboard2"></i>
                    Thông tin dữ liệu <span id="solanbip" class="badge bg-warning text-dark float-end" style="margin-top: 3px;"></span>
                </div>
                <div class="card-body">
                    <table class="table mb-0 table-reponsive" style="font-size:small;">
                        <tbody>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="icontenOP" class="icon-info-circle"></i>
                                    Người thực hiện
                                </td>
                                <td style="text-align:center">
                                    <input id="tenOP" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconTenvitri" class="icon-info-circle"></i>
                                    Vị trí
                                </td>
                                <td style="text-align:center">
                                    <input id="tenVitri" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconTenvattuthuve" class="icon-info-circle"></i>
                                    Vật tư thu về
                                </td>
                                <td style="text-align:center">
                                    <div class="row">
                                        <div class="col-8">
                                            <input id="tenVattuthuve" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                        </div>
                                        <div class="col-4">
                                            <input id="solanbipThuve" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconTenvattuxuatra" class="icon-info-circle"></i>
                                    Vật tư xuất ra
                                </td>
                                <td style="text-align:center">
                                    <div class="row">
                                        <div class="col-8">
                                            <input id="tenVattuxuatra" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                        </div>
                                        <div class="col-4">
                                            <input id="solanbipXuatra" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconDonvi" class="icon-info-circle"></i>
                                    Đơn vị
                                </td>
                                <td style="text-align:center">
                                    <input id="tenDonvi" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconSoluongxuat" class="icon-info-circle"></i>
                                    Số lượng xuất
                                </td>
                                <td style="text-align:center">
                                    <input id="tenSoluongxuat" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconTonkhotong" class="icon-info-circle"></i>
                                    Tồn kho tổng
                                </td>
                                <td style="text-align:center">
                                    <input id="tenTonkhotong" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconTontu" class="icon-info-circle"></i>
                                    Tồn tủ
                                </td>
                                <td style="text-align:center">
                                    <input id="tenTontu" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconLotNo" class="icon-info-circle"></i>
                                    LotNo
                                </td>
                                <td style="text-align:center">
                                    <input id="tenLotNo" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12" style="text-align:center">
        @using (Html.BeginForm("Final", "Home", FormMethod.Post))
        {
            <button asp-action="Final" id="btnhoanthanh" type="submit" class="btn btn-success shadow btn-lg" disabled><i class="icon-check"> </i> Hoàn thành</button>
        }
    </div>
</div>


<button class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target=".bs-example-modal-centered" hidden>Vertically centered modal</button>

<div id="modalNG" class="modal bs-example-modal-centered" tabindex="-1" role="dialog" aria-labelledby="centerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content  bg-danger">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" style="color:white">
                    <i class='icon-line-alert-triangle'> </i> Cảnh báo
                </h4>
            </div>
            <div id="noidungmodal" class="modal-body bg-warning" style="text-align:center">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<a id="ok1" data-notify-close="false" data-notify-position="top-center" data-notify-type="success" data-notify-msg="" onclick="SEMICOLON.widget.notifications({ el: this }); return false;" hidden></a>
<a id="ok2" data-notify-close="false" data-notify-position="top-center" data-notify-type="success" data-notify-msg="<i class='icon-ok' /> Xác định vị trí thành công!" onclick="SEMICOLON.widget.notifications({ el: this }); return false;" hidden></a>



@*
                            Hiện modal block => không tắt đc
                        var modal = document.querySelector('.bs-example-modal-centered');
                                    // Lấy phần tử chứa nội dung modal
                                    var modalBody = modal.querySelector('.modal-body');
                                    // Thay đổi nội dung của phần tử chứa nội dung modal
                                    modalBody.innerHTML = 'Nội dung mới của modal';
                                    // Hiển thị modal
                                    modal.style.display = 'block';*@