@section Scripts{
    <script>
        $(document).ready(function () {
            var step = 1;
            var ten_model = '';
            var ten_cell = '';
            var ten_station = '';
            var ten_phanloai = '';
            var ma_nguoithaotac = '';
            $("#theinput").attr("placeholder", "Quét mã người thao tác...");
            $("#theinput").keydown(function (e) {
                if (e.keyCode === 13) {
                    var inputValue = $(this).val().toLowerCase(); //lấy giá trị của Input
                    console.log(inputValue)
                    console.log("Pressed enter!")
                    if (step == 1) {
                        $.ajax({
                            url: "/Home/CheckingOP",
                            type: "GET",
                            data: "opId=" + inputValue,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (result) {
                                if (result == null) {
                                    console.log("Không có mã NV " + inputValue + " trong database")
                                    $('.btn-danger').trigger('click');
                                    $("#theinput").val('');
                                    step = 1;
                                }
                                else {
                                    console.log("Xin chào, " + result);
                                    $('#tenOP').val(result.toUpperCase());
                                    $('#icontenOP').removeClass("icon-info-circle");
                                    $('#icontenOP').addClass("icon-ok-sign");
                                    $('#icontenOP').css({
                                        color: "green"
                                    });
                                    $("#theinput").val('');
                                    step = 2;
                                    console.log("Done step 1 -> step " + step);
                                    $("#theinput").attr("placeholder", "Quét mã vị trí...");
                                    $('#nutstep').text('Step2');
                                    ma_nguoithaotac = inputValue;
                                }
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                                console.log("Không có mã NV " + inputValue + " trong database")
                                $('.btn-warning').trigger('click');
                                $("#theinput").val('');
                                step = 1;
                            }
                        });
                    }
                    if (step == 2) {
                        $.ajax({
                            url: "/Home/CheckingVitri",
                            type: "GET",
                            data: "vitri=" + inputValue,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (result) {
                                if (result == null || result.length == 0) {
                                    console.log("Không thông tin vị trí " + inputValue + " trong database")
                                    $('.btn-danger').trigger('click');
                                    $("#theinput").val('');
                                    step = 2;
                                }
                                else {
                                    console.log(result);
                                    ten_model = result[0].model;
                                    ten_cell = result[0].cell;
                                    ten_station = result[0].station;
                                    ten_phanloai = result[0].phanLoai;
                                    $('#tenVitri').val(ten_model + " - " + ten_cell + " - " + ten_station);
                                    $('#iconTenvitri').removeClass("icon-info-circle");
                                    $('#iconTenvitri').addClass("icon-ok-sign");
                                    $('#iconTenvitri').css({
                                        color: "green"
                                    });
                                    $("#theinput").val('');
                                    step = 3;
                                    console.log("Done step 2 -> step " + step);
                                    $("#theinput").attr("placeholder", "Quét mã ống thu về...");
                                    $('#nutstep').text('Step3');
                                }
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                                console.log("Không có thông tin vị trí " + inputValue + " trong database")
                                $('.btn-warning').trigger('click');
                                $("#theinput").val('');
                                step = 2;
                            }
                        });
                    }
                    if (step == 3) {
                        $.ajax({
                            url: "/Home/CheckingVattuthuve",
                            type: "GET",
                            data: "vattuthuve=" + inputValue,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (result) {
                                if (result == null) {
                                    console.log("Không có thông tin vật tư " + inputValue + " trong database");
                                    $('.btn-danger').trigger('click');
                                    $("#theinput").val('');
                                    $.ajax({
                                        url: "/Home/updateStatus",
                                        type: "POST",
                                        data: {
                                            status: "OK",
                                            thoigianbaoloi: '@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")',
                                            model: ten_model,
                                            cell: ten_cell,
                                            station: ten_station,
                                            phanloai: ten_phanloai
                                        },
                                        success: function (result) {
                                            console.log(result);
                                            console.log("Đã cập nhật trạng thái bảng Layout trong database thành NG");
                                            step = 3;
                                        },
                                        error: function (xhr, status, error) {
                                            console.log(error);
                                            console.log("Không cập nhật được trạng thái bảng Layout trong database thành NG");
                                            step = 3;
                                        }
                                    });
                                    $.ajax({
                                        url: "/Home/Luulichsu_Xuatline",
                                        type: "POST",
                                        data: {
                                            tenvattuthuve: inputValue,
                                            tenvattuphatra: "",
                                            soluongxuatline: "0",
                                            ngayxuat: "@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")",
                                            nguoixuat: ma_nguoithaotac,
                                            donvi: "",
                                            tontu: "0",
                                            vitri: ten_model + "," + ten_cell + "," + ten_station,
                                            result: "NG",
                                            lotno: "",
                                            ghichu: ""
                                        },
                                        success: function (result) {
                                            console.log(result);
                                            step = 3;
                                        },
                                        error: function (xhr, status, error) {
                                            console.log(error);
                                            step = 3;
                                        }
                                    });
                                }
                                else {
                                    console.log(result);
                                    var tenvattuthuve = result.ten;
                                    $('#tenVattuthuve').val(tenvattuthuve);
                                    $('#iconTenvattuthuve').removeClass("icon-info-circle");
                                    $('#iconTenvattuthuve').addClass("icon-ok-sign");
                                    $('#iconTenvattuthuve').css({
                                        color: "green"
                                    });
                                    $("#theinput").val('');
                                    console.log("Model là: " + ten_model)
                                    console.log("Cell là: " + ten_cell)
                                    console.log("Station là: " + ten_station)
                                    $.ajax({
                                        url: "/Home/updateStatus",
                                        type: "POST",
                                        data: {
                                            status: "OK",
                                            thoigianbaoloi: "",
                                            model: ten_model,
                                            cell: ten_cell,
                                            station: ten_station,
                                            phanloai: tenvattuthuve
                                        },
                                        success: function (result) {
                                            console.log(result);
                                            console.log("Đã cập nhật trạng thái bảng Layout trong database thành OK")
                                            $("#theinput").val('');
                                            step = 4;
                                            console.log("Done step 3 -> step " + step);
                                            $("#theinput").attr("placeholder", "Quét mã ống xuất ra...");
                                            $('#nutstep').text('Step4');
                                        },
                                        error: function (xhr, status, error) {
                                            console.log(error);
                                            console.log("Không cập nhật được trạng thái bảng Layout trong database")
                                            $('.btn-danger').trigger('click');
                                            $("#theinput").val('');
                                            step = 3;
                                        }
                                    });
                                }
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                                $('.btn-danger').trigger('click');
                                $("#theinput").val('');
                                $.ajax({
                                    url: "/Home/updateStatus",
                                    type: "POST",
                                    data: {
                                        status: "OK", // NG
                                        thoigianbaoloi: '@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")',
                                        model: ten_model,
                                        cell: ten_cell,
                                        station: ten_station,
                                        phanloai: ten_phanloai
                                    },
                                    success: function (result) {
                                        console.log(result);
                                        console.log("Đã cập nhật trạng thái bảng Layout trong database thành NG");
                                        step = 3;
                                    },
                                    error: function (xhr, status, error) {
                                        console.log(error);
                                        console.log("Không cập nhật được trạng thái bảng Layout trong database thành NG");
                                        step = 3;
                                    }
                                });
                                $.ajax({
                                    url: "/Home/Luulichsu_Xuatline",
                                    type: "POST",
                                    data: {
                                        tenvattuthuve: inputValue,
                                        tenvattuphatra: "",
                                        soluongxuatline: "0",
                                        ngayxuat: "@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")",
                                        nguoixuat: ma_nguoithaotac,
                                        donvi: "",
                                        tontu: "0",
                                        vitri: ten_model + "," + ten_cell + "," + ten_station,
                                        result: "NG",
                                        lotno: "",
                                        ghichu: ""
                                    },
                                    success: function (result) {
                                        console.log(result);
                                        step = 3;
                                    },
                                    error: function (xhr, status, error) {
                                        console.log(error);
                                        step = 3;
                                    }
                                });
                            }
                        });
                    }
                    //$("#inputMaop").attr("id", "inputMavitri");
                }
            });
        });
    </script>
}
    <style>
        .content-wrap {
            padding: 20px 0;
        }
    </style>
    <div class="row">
        <div class="col-12">
            <div class="card gradient-grey-orange">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <button id="nutstep" class="btn btn-warning" disabled>Step1</button>
                        </div>
                        <div class="col-10">
                            <input id="theinput" type="text" class="form-control shadow" autofocus>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="margin-block:10px">
            <div class="card">
                <div class="card-header" style="text-align:center">
                    <i class="icon-clipboard2"></i>
                    Thông tin dữ liệu
                </div>
                <div class="card-body">
                    <table class="table mb-0" style="font-size:small;">
                        <tbody>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="icontenOP" class="icon-info-circle"></i>
                                    Người thực hiện
                                </td>
                                <td style="text-align:center">
                                    <input id="tenOP" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconTenvitri" class="icon-info-circle"></i>
                                    Vị trí
                                </td>
                                <td style="text-align:center">
                                    <input id="tenVitri" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconTenvattuthuve" class="icon-info-circle"></i>
                                    Vật tư thu về
                                </td>
                                <td style="text-align:center">
                                    <input id="tenVattuthuve" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconTenvattuxuatra" class="icon-info-circle"></i>
                                    Vật tư xuất ra
                                </td>
                                <td style="text-align:center">
                                    <input id="tenVattuxuatra" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconDonvi" class="icon-info-circle"></i>
                                    Đơn vị
                                </td>
                                <td style="text-align:center">
                                    <input id="tenDonvi" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconSoluongxuat" class="icon-info-circle"></i>
                                    Số lượng xuất
                                </td>
                                <td style="text-align:center">
                                    <input id="tenSoluongxuat" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-5" style="vertical-align:middle">
                                    <i id="iconLotNo" class="icon-info-circle"></i>
                                    LotNo
                                </td>
                                <td style="text-align:center">
                                    <input id="tenLotNo" class="form-control" style="text-align:center; font-weight:700" readonly="readonly" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4" style="text-align:center">
            <button type="button" class="btn  btn-lg w-100 btn-outline-danger"><i class="icon-trash"></i></button>
        </div>
        <div class="col-8" style="text-align:center">
            <button type="button" class="btn btn-success btn-lg w-100" disabled>Hoàn thành</button>
        </div>
    </div>

@*    <a class="btn btn-danger me-2" data-notify-close="false" data-notify-type="error" data-notify-msg="<i class='icon-line-alert-triangle'> </i> Không tìm thấy dữ liệu phù hợp!" onclick="SEMICOLON.widget.notifications({ el: this }); return false;" hidden></a>
*@
@*    <a class="btn btn-warning me-2" data-notify-type="warning" data-notify-msg="<i class='icon-remove-sign me-1'></i> Sai định dạng mã barcode / Mất mạng!" onclick="SEMICOLON.widget.notifications({ el: this }); return false;" hidden></a>
*@
    <button class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target=".bs-example-modal-centered" hidden>Vertically centered modal</button>

    <div class="modal bs-example-modal-centered" tabindex="-1" role="dialog" aria-labelledby="centerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content  bg-warning">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" >
                        <i class='icon-line-alert-triangle'> </i> Cảnh báo
                    </h4>
                </div>
                <div class="modal-body bg-body" style="text-align:center">
                    <p class="mb-0">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
            </div>
        </div>
    </div>